.info {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  padding: 20px;
  div {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    p,
    h3 {
      margin: 0px;
      padding: 2.5px;
      cursor: pointer;
    }
    p {
      &::after {
        content: "";
        width: 0%;
        height: 1px;
        background-color: white;
        display: block;
        margin-top: 2px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.2s linear;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
    span {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    h3 {
      color: grey;
      cursor: default;
      font-weight: 300;
      font-size: 1em;
    }
  }
}
